* {
  background-color: AliceBlue;
  background-size: 100%;
  background-attachment: fixed;
  color: DimGray;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  display: inline;
}

#start {
  margin: 10px;
}
